body {
    background-color: #f4f4f4;
}

.container {
    margin-top: 20px;
}

.card {
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card-image img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.modal {
    max-width: 500px;
}

.modal-content {
    padding: 20px;
}

.nav-wrapper {
    padding: 0 20px;
}
